.header {
   position: relative;
   background: purple;
   overflow: hidden;

   // .header__bg

   &__bg{
      @include layer;
      z-index: 1;
      // background: gainsboro;
   }

   &__text-block{
      position: relative;
      z-index: 2;
      max-width: 60rem;

      // .header .text-block

      .text-block{
         &__title{
            font-family: Gilroy;
            font-style: normal;
            font-weight: 900;
            font-size: 38px;
            line-height: 47px;
            color: #000000;
            @include media-breakpoint-down(md) {
               font-size: 36px;
            }
         }
         // .text-block__text

         &__text {
            margin: 4rem 0;
            max-width: 50rem;
         }

         // .text-block__btn

         &__btn {

         }
      }
   }

   // .header__offer

   &__offer {
      background: white;
      position: relative;
      z-index: 2;
      min-height: 100vh;
      display: flex;
      align-items: center;
      padding-top: 7rem;
   }

   // .header__aside

   &__aside {
      background: rgba(1, 3, 9, 0.79);
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 3;
      width: 33.88%;
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      @include media-breakpoint-down(xl) {
         width: 36.88%;
         padding: 0 2rem;
      }
      @include media-breakpoint-down(lg) {
         position: static;
         width: 100%;
         padding: 5rem 0;
         background: #171717;
      }

      // .header__aside-col

      &-col{
         &:first-child{
            margin-top: 11rem;
            @include media-breakpoint-down(lg) {
               margin-top: 0;
            }
         }
      }
   }

   .spec .col-1{
         border: 1px solid red;
   }

   // .header__stat

   &__stat {
      color: white;
      text-align: center;
      margin: 4rem auto;
      max-width: 16rem;
      @include media-breakpoint-down(xl) {
         max-width: 13.4rem;
      }
      @include media-breakpoint-up(lg) {
         margin: 6.5vh auto;
      }

      .stat{
         // .stat__num

         &__num {
            font-size: 42px;
            line-height: 51px;
            letter-spacing: 0.005rem;
            margin-bottom: 1rem;
         }

         // .stat__title

         &__title {
            font-size: 14px;
            line-height: 159.7%;
         }
      }
   }
}


.text-block {

   // .text-block__title

   &__title {
   }

   // .text-block__text

   &__text {
   }

   // .text-block__btn

   &__btn {
   }
}

.phone-stack{
   background: blue;
    border-radius: 9px;
    padding: 20px;
}
