.page {
   @include layer;
   position: fixed;
   z-index: 2000;
   background: #F5F4F7;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 4rem 2rem 8rem;

   @include media-breakpoint-up(md) {
      padding: 4rem 5.5rem 11.5rem;
   }
   @include media-breakpoint-up(lg){
      padding-top: 5.5rem;
   }


   // .page__inner

   &__inner {
      max-width: 125rem;
      margin-left: auto;
      margin-right: auto;
   }

   // .page__hd

   &__hd {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;

      @include media-breakpoint-up(md) {
         margin-bottom: 6rem;
      }

      @include media-breakpoint-up(lg) {
         margin-bottom: 9.5rem;
      }
   }

   // .page__title

   &__title {
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 4.2rem;
      text-align: center;
      letter-spacing: 0.03rem;
      max-width: 23rem;

      @include media-breakpoint-up(md) {
         font-size: 4.8rem;
         line-height: 6.9rem;
         max-width: 42rem;
      }

      @include media-breakpoint-up(lg) {
         max-width: 74rem;
      }
   }

   // .page__icon

   &__icon {
      position: absolute;
      font-size: 3rem;
      cursor: pointer;

      @include media-breakpoint-up(md) {
         font-size: 5rem;
      }

      @include media-breakpoint-up(lg) {
         font-size: 6rem;
      }
   }

   // .page__icon--left

   &__icon--left {
      left: 0;
   }

   &__icon--right {
      right: 0;
   }

   // .page__bd

   &__bd {}
}

