.badge {
   display: flex;
   border: 0.1rem solid black;
   padding: 0.8rem 1.5rem;
   border-radius: 0.9rem;
   gap: 1.5rem;
   justify-content: space-between;
   max-width: max-content;
   width: 100%;

   // .badge__main

   &__main {
      .badge__text {
         font-family: Gilroy;
         font-style: normal;
         font-weight: normal;
         font-size: 1.8rem;
         line-height: 2.1rem;
      }
   }

   // .badge__text

   &__text {}

   // .badge__aside

   &__aside {
      flex: 1;
      @include perfect-center;

      .badge__text {
         font-family: Roboto;
         font-style: normal;
         font-weight: 500;
         font-size: 1.8rem;
         line-height: 2.1rem;
      }
   }
}