.section {}

.slider {
   position: relative;
   @include media-breakpoint-up(lg) {
      width: 75%;
      margin: 0 auto;
      max-width: 93rem;
   }

   // .slider__slide

   &__slide {
      @include media-breakpoint-up(lg) {
         display: flex;
         gap: 1.5rem;

      }
   }

   // .slider__controlls

   &__controlls {
      position: absolute;
      width: 125%;
      justify-content: space-between;
      top: calc(50% - 3.3rem);
      left: -12.5%;
      display: none;
      @include media-breakpoint-up(lg) {
         display: flex;
      }
   }

   // .slider__arrow-left

   &__arrow-left {
      cursor: pointer;
   }

   // .slider__arrow-right

   &__arrow-right {
      cursor: pointer;
   }

}

.slide {

   // .slide__row

   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0;
      gap: 1.5rem;

   }

   // .slide__photos-slider

   &__photos-slider {
      min-width: 0;
      width: 100%;

      @include media-breakpoint-up(lg) {
         width: 35vw;
         max-width: 44.5rem;
         flex: 0 0 auto;
      }
   }

   // .slide__photo

   &__photo {
      width: 70vw;
      padding-top: 124%;
      margin: 0 4vw;

      @include media-breakpoint-up(lg) {
         margin: 0 auto;
         max-width: 44.5rem;
         max-height: 55rem;
         width: 35vw;
      }
   }

   // .slide__texts-slider

   &__texts-slider {
      min-width: 0;
      margin-top: 4rem;
      flex: 1 0;

      @include media-breakpoint-up(lg) {
         margin-top: 0;
         padding: 0 $container-padding-x;
         flex: 1 0 50%;
      }

      .slick-slide {
         padding: $container-padding-x;

         @include media-breakpoint-up(lg) {
            padding: 0;
            margin-right: 4rem;
         }
      }


   }

   // .slide__title

   &__title {}

   // .slide__paragraphs

   &__paragraphs {}

   // .slide__badges

   &__badges {
      .badge {
         display: flex;
         border: 0.1rem solid black;
         padding: 0.8rem 1.5rem;
         border-radius: 0.9rem;
         gap: 1.5rem;
         justify-content: space-between;
         max-width: max-content;
         width: 100%;

         // .badge__main

         &__main {
            .badge__text {
               font-family: Gilroy;
               font-style: normal;
               font-weight: normal;
               font-size: 1.8rem;
               line-height: 2.1rem;
            }
         }

         // .badge__text

         &__text {}

         // .badge__aside

         &__aside {
            flex: 1;
            @include perfect-center;

            .badge__text {
               font-family: Roboto;
               font-style: normal;
               font-weight: 500;
               font-size: 1.8rem;
               line-height: 2.1rem;
            }
         }
      }
   }

   // .slide__action

   &__action {
      width: max-content;
   }

   // .slide__text

   &__text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 168.18%;
      margin-bottom: 2rem;
   }

   .slick-track {
      display: flex;
   }

   .slick-list {
      overflow: hidden;
   }
}

.d-flex {}

.align-items-center {}

.btn {}

.has-readmore {}