.talk-buble {
   background: white;
   border-radius: 1rem;
   padding: 3.5rem;
   position: relative;

   // .talk-buble__header

   &__header {
      margin-bottom: 2.5rem;
   }

   // .talk-buble__title

   &__title {
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 2.2rem;
      line-height: 147.69%;

      @include media-breakpoint-up(md) {
         font-size: 2.8rem;
      }
   }

   // .talk-buble__under-title

   &__under-title {
      display: flex;
      gap: 0.5rem;
      font-family: Roboto;
      font-style: normal;
      font-size: 1.4rem;
      line-height: 168.18%;
      margin-top: 0.8rem;

      @include media-breakpoint-up(md) {
         font-size: 1.7rem;
      }

      &-label {
         font-weight: bold;
      }

      &-main {
         font-weight: 300;
      }
   }

   // .talk-buble__descr

   &__descr {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 177.19%;
   }

   // .talk-buble__pocket

   $pocket-gap: 1.6rem;
   &__pocket {
      display: flex;
      flex-direction: column;
      gap: $pocket-gap;
      margin-bottom: 3rem;

      @include media-breakpoint-up(md){
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
      }

      @include media-breakpoint-up(lg){
         gap: 5rem;
      }
   }

   // .talk-buble__badges

   &__badges {
      display: flex;
      flex-direction: column;
      gap: $pocket-gap;
   }

   // .talk-buble__badge

   &__badge {
   }

   // .talk-buble__action

   &__action {}

   &:after {
      content: '';
      position: absolute;
      border-bottom: 4rem solid white;
      border-left: 5rem solid transparent;
      border-right: 5rem solid transparent;
   }

   // where the buble is placed 
   &--bottom {
      &:after {
         top: -3.7rem;
         left: calc(50% - 5rem);
      }
   }

   &--right {
      &:after {
         top: calc(50% - 5rem);
         left: -3.7rem;
         transform: rotate(0deg);
      }
   }
}