.btn {
   display: block!important;
   font-family: Gilroy;
   font-style: normal;
   font-weight: 600;
   font-size: 1.6rem;
   line-height: 2.5rem;

   text-align: center;
   cursor: pointer;

   padding: 2rem 3rem;
   color: white;
   background: $yellow;
   border-radius: 0.9rem;
   background: $yellow;
   transition: 0.2s;
   @include media-breakpoint-up(md){
      width: max-content;
   }
}

.btn--big {
   @extend .btn;
   font-size: 2rem;
   font-weight: 900;
   width: 100%;
   max-width: max-content;
   padding: 25px 50px;
   @include media-breakpoint-down(md){
      line-height: 3rem;
      font-size: 2.2rem;
   }
}

.btn--light {
   @extend .btn--big;
   width: 100%;
   background: transparent;
   color: white;
   border: 1px solid #FFFFFF;
   box-shadow: none;
}

.btn--accented{
   box-shadow: 0 0.4rem 1.6rem rgb(147 94 15 / 53%);
   transition: 0.4s;
   &:hover{
      // box-shadow: unset;
   }
}