.certificates {
   width: 100%;
   text-align: center;

   // .certificates__title

   &__title {
      font-family: Gilroy;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 1.5rem;
   }

   // .certificates__item

   &__item {
      margin: 1.5rem;
   }

   // .certificates__photo

   &__photo {
      width: 100%;

      img {
         width: 100%;
      }
   }

   // .certificates__name

   &__name {
      margin-top: 1.5rem;
      font-family: Gilroy;
      font-size: 1.5rem;
      line-height: 1.7rem;
   }

   // .certificates__footer

   &__footer {
      padding-top: 1.5rem;

      .btn {
         height: 5.3rem;
      }
   }
}