.footer {
   background: #274288;
   color: white;
   padding: 5rem 0 7rem;
   font-family: roboto;

   // .footer__row

   &__row{
      display: flex;
      flex-wrap: wrap;
   }

   // .footer__col

   &__col{
      flex: 1 0 100%;
      // @include media-breakpoint-up(md){
      //    flex-basis: 50%;
      // }
      @include media-breakpoint-up(lg){
         flex-basis: auto;
      }
   }

   // .footer__info

   &__info {
      max-width: 35rem;
      @include media-breakpoint-up(lg){
         max-width: none;
      }
   }

   // .footer__title

   &__title {
      margin-bottom: 3.5rem;
      @include media-breakpoint-up(lg){
         margin-bottom: 5.5rem;
      }
   }

   // .footer__feature

   &__feature {
      margin-bottom: 3rem;


      &:last-child {
         margin-bottom: 0;
      }

      .feature {
         align-items: center;

         &__icon {}

         &__text {
            font-size: 1.5rem;
            line-height: 159.68%;
            margin-left: 1.6rem;
         }

      }
   }

   // .footer__item

   &__item {
      margin-bottom: 8rem;
   }

   // .footer__widget

   &__widget {
      .widget {

         // .widget__title
      
         &__title {
            margin-bottom: 2.5rem;
            font-size: 2.5em;
         }
      
         // .widget__body
      
         &__body {}
      }
   }

   // .footer__menu

   &__menu {
      .menu {
         display: flex;
         gap: 2rem;
         flex-wrap: wrap;
         &__menu-item {
            font-size: 1.5rem;
            line-height: 159.68%;
            color: white;
            display: block;
            &:last-child{
               margin-bottom: 0;
            }
         }
      }
   }



   // .footer__social

   &__social {
      margin-right: 3rem;
      &:last-child{margin-right: 0;}
   }

   a{
      width: max-content;
      path{fill: white; transition: 0.25s;}
      &:hover{
         path{fill: rgba(249, 79, 79, 1);}
      }
   }
}