@import '../btn/btn';
@import '../../basic/colors';
.gall {

   // .gal__item

   &__item{cursor: pointer;}
   // .gall__inner

   &__inner {}

   // .gall__hd

   &__hd {
      display: flex;
   }

   // .gall__bd

   &__bd {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      @include media-breakpoint-up(md){
         grid-template-columns: repeat(3, 1fr);
      }
      @include media-breakpoint-up(xl){
         grid-template-columns: repeat(4, 1fr);
      }

      &:after {
         content: '';
         flex-grow: 10;
      }
   }

   // .gall__filters

   &__filters {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 3.5rem;

      @include media-breakpoint-up(md) {
         gap: 3rem;
         margin-bottom: 5em;
      }
   }

   // .gall__filter

   &__filter {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 2.1rem;
      padding: 1rem;
      border-radius: 0.9rem;
      cursor: pointer;

      @include media-breakpoint-up(md) {
         font-size: 2.2rem;
         line-height: 2.6rem;
      }

      @include media-breakpoint-up(lg) {
         font-size: 2.4rem;
         line-height: 2.8rem;
      }

      &.is-active {
         color: white;

         &.bg-active {
            &-main {
               background: #7D55D1;
            }

            &-eng {
               background: #4865FF;
            }

            &-deu {
               background: #F09815;
            }
         }
      }
   }

   .gall-item{
      position: relative;
      &__title {
         font-family: Gilroy;
         font-style: normal;
         font-weight: 600;
         font-size: 1.6rem;
         line-height: 138.5%;
         margin: 1.5rem 0 0.7rem;

         @include media-breakpoint-up(md) {
            font-size: 1.7rem;
            line-height: 2.4rem;
            margin: 1.7rem 0 0.5rem;
         }

         @include media-breakpoint-up(lg) {
            font-size: 2.1rem;
            line-height: 2.9rem;
            margin: 2rem 0 0.7rem;
         }
      }

      // .gall-item__descr

      &__descr {
         font-family: Roboto;
         font-style: normal;
         font-weight: 300;
         font-size: 1.3rem;
         line-height: 138.5%;

         // @include media-breakpoint-up(md) {
         //    font-size: 1.5rem;
         //    line-height: 1.8rem;
         // }

         @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
            line-height: 2.1rem;
         }
      }
   }

   // gall--books

   &--books {
      .gall {

         // .gall__bd

         &__bd {
            gap: 2rem;
            @include media-breakpoint-up(md) {
               gap: 4.5rem;
            }
            @include media-breakpoint-up(lg) {
               gap: 5rem;
            }
            @include media-breakpoint-up(lg){
               justify-content: space-between;
            }
         }

         // .gall__item

         &__item {
         }

         &__message{
            display: flex;
            @media screen and(orientation: portrait) {
               height: 65vh;
            }
            @media screen and (orientation: landscape){
               height: 50vh;
            }
            width: 100%;
            align-items: center;
            justify-content: center;
            &-inner{
               width: 100%;
               padding: 0 2rem;
               max-width: 37rem;
               text-align: center;
               display: flex;
               flex-direction: column;
               align-items: center;
            }
            &-text{
               color: #4e4e4e;
               font-size: 2.1rem;
               margin-bottom: 3rem;
               line-height: 168%;
               font-family: Roboto;
            }
            &-link{
               @extend .btn--light;
               background: $yellow
            }
         }
      }

      .gall-item {
         padding: 1.5rem;
         background-color: #E1E1E1;
         border-radius: 1rem;
         width: 100%;
         cursor: pointer;
         transition: background 0.4s;
         height: max-content;

         @include media-breakpoint-up(md) {
            padding: 2.5rem;
         }

         @include media-breakpoint-up(lg) {
            max-width: 29rem;
         }

         // .gall-item__photo

         &__photo {
            width: 100%;

         }

         // .gall-item__img

         &__img {
            width: 100%;
            object-fit: cover;
         }

         &__title,
         &__descr {
            transition: 0.3s;
         }

         // .gall-item__title

         &:hover {
            background: #4865FF;

            .gall-item {

               &__descr,
               &__title {
                  color: white;
               }
            }
         }
      }
   }

   &--photos {
      .gall {

         // .gall__bd

         &__bd {
            display: flex;
            flex-wrap: wrap;
            // gap: 2rem;
            margin-left: -1rem;
            margin-right: -1rem;
            // @include media-breakpoint-up(md) {
            //    gap: 5rem;
            // }
            // @include media-breakpoint-up(lg) {
            //    gap: 5rem;
            // }
         }

         // .gall__item

         &__item {
         }
      }

      .gall-item {
         height: 40vh;
         flex-grow: 1;
         margin: 1rem;
         @media (max-aspect-ratio: 1/1){
            height: 30vh;
         }
         @media (max-height: 480px){
            height: 80vh;
         }

         // .gall-item__photo

         &__photo {}

         // .gall-item__img

         &__img {
            border-radius: 0.5rem;
            max-height: 100%;
            height: 100%;
            min-width: 100%;
            max-width: 100%;
            object-fit: cover;
            vertical-align: bottom;
         }
      }
   }
}


