@import 'basic/mixins';
@import 'basic/reset.css';

@import '../fonts/roboto/stylesheet.css';
@import '../fonts/gilroy/stylesheet.css';

html{
   font-size: 65.2%;
}

$grid-gutter-width: 2.4rem;
$spacer: 1.6rem;

// bootstrap screen sizes
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// $container-padding-x: 50px;

// Optional Bootstrap components here

@import '../../node_modules/bootstrap/scss/bootstrap-grid';
// @import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import '../../node_modules/bootstrap/scss/containers';

p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: normal;
   font-size: 1.8rem;
   line-height: 168.18%;
}

h1{
   font-family: Gilroy;
   font-style: normal;
   font-weight: 900;
   font-size: 35px;
   line-height: 44px;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 5rem;
   
   color: #000000;

   @include media-breakpoint-up(md) {
      font-size: 48px;
      line-height: 60px;
   }
}

h2{
   font-family: Gilroy;
   font-style: normal;
   font-weight: 800;
   font-size: 3.6rem;
   line-height: 4.9rem;
   
   color: #000000;
}

// @mixin colorfull-border($border-width, $border-radius){
//    .colorfull-border{
//       position: relative;
//       &__content{
//       }
//       &__border{
//          position: absolute;
//          width: calc(100% + #{$border-width} * 2);
//          height: calc(100% + #{$border-width} * 2);
//          background: linear-gradient(180deg, #A53FA7 0%, rgba(233, 14, 119, 0.72) 100%);
//          top: -0.1rem;
//          left: -0.1rem;
//          border-radius: $border-radius;
//       }
//    }
// }

@mixin colorfull-border($elem-width, $border-width, $border-radius, $main-z-index){
   .colorfull-border{
      position: relative;
      &__content{
         @include square($elem-width);
         @include perfect-center;
         background: white;
         border-radius: $border-radius;
         z-index: $main-z-index;
         position: relative;
   
         img{
            width: 1.8rem;
         }
      }
      &__border{
         z-index: $main-z-index - 1;
         @include square(calc(100% + #{$border-width} * 2));
         position: absolute;
   
         background: linear-gradient(180deg, #A53FA7 0%, rgba(233, 14, 119, 0.72) 100%);
         top: -$border-width;
         left: -$border-width;
         border-radius: $border-radius;
      }
   }
}





// components that can be overritten
@import 'module/stat/stat';

@import 'module/ibg/ibg.css';
@import 'module/header/header';
@import 'module/btn/btn';
@import 'module/hamburger/hamburger.scss';
@import 'module/nav/nav-blanc';

@import 'sections/section/section';
@import 'sections/about-us/about-us';
@import 'sections/why-we/why-we';

