@import 'basic/mixins';
@import 'basic/reset.css';

@import '../fonts/roboto/stylesheet.css';
@import '../fonts/gilroy/stylesheet.css';

html{
   font-size: 65.2%;
}

$grid-gutter-width: 2.4rem;
$spacer: 1.6rem;
// $container-padding-x: 50px;

// Optional Bootstrap components here
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: normal;
   font-size: 1.8rem;
   line-height: 168.18%;
}

// components that can be overritten
@import 'module/stat/stat';

@import 'module/ibg/ibg.css';
@import 'module/header/header';
@import 'module/btn/btn';

