@import 'basic/mixins';
@import 'basic/reset.css';

@import '../fonts/roboto/stylesheet.css';
@import '../fonts/gilroy/stylesheet.css';

html{
   font-size: 65.2%;
}

$grid-gutter-width: 2.4rem;
$spacer: 1.6rem;

// bootstrap screen sizes
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// $container-padding-x: 50px;

// Optional Bootstrap components here

@import '../../node_modules/bootstrap/scss/bootstrap-grid';
// @import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import '../../node_modules/bootstrap/scss/containers';

p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: normal;
   font-size: 1.8rem;
   line-height: 168.18%;
}

// components that can be overritten
@import 'module/stat/stat';

@import 'module/ibg/ibg.css';
@import 'module/header/header';
@import 'module/btn/btn';
@import 'module/hamburger/hamburger.scss';
@import 'module/nav/nav-blanc';

