#teachers {
   .section {
      &__title {
         text-align: center;
         max-width: 30.8rem;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
         margin-bottom: 5rem;

         @include media-breakpoint-up(md) {
            max-width: 45rem;
         }

         @include media-breakpoint-up(lg) {
            max-width: 60rem;
            margin-bottom: 12rem;
         }
      }
   }

   .slide {
      $gap: 2rem;
   
      // .slide__stats
   
      &__stats {
         display: flex;
         flex-wrap: wrap;
         gap: $gap;
      }
   
      // .slide__stat
   
      &__stat {
         flex: 1 0 calc(33.3% - #{$gap});
         @include media-breakpoint-up(md){
            flex-basis: calc(25% - #{$gap});
         }
      }

      &__title{
         margin-top: 0;
      }
   }

   .stat {
      width: max-content;
      text-align: center;
      @include media-breakpoint-up(md){
         width: min-content;
      }
   
      // .stat__num
   
      &__num {
         font-family: Gilroy;
         font-style: normal;
         font-weight: bold;
         font-size: 4rem;
         line-height: 159.68%;
         @include media-breakpoint-up(lg){
            font-size: 4.3rem;
         }
      }
   
      // .stat__title
   
      &__title {
         font-family: Gilroy;
         font-style: normal;
         font-weight: bold;
         font-size: 1.2rem;
         line-height: 159.68%;
   
         letter-spacing: 0.07rem;
         margin-top: 0.5rem;
   
         @include media-breakpoint-up(lg){
            font-size: 1.3rem;
         }
      }
   }
   .slide__texts-slider{
      .slick-slide > div{
         @include media-breakpoint-up(md){
            max-width: 52rem;
            margin-left: auto;
            margin-right: auto;
         }
         @include media-breakpoint-up(lg){
            padding: 0 1.4rem;
         }
      }
   }
}