.popup {
   @include layer;
   position: fixed;
   z-index: 1000;
   // display: none;
   overflow: auto;

   &__bg-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      background: rgba(65, 65, 65, 0.72);
      min-height: 100%;

      @include media-breakpoint-up(md) {
         padding: 10% 0;
      }

      @include media-breakpoint-up(lg) {
         @include perfect-center;
      }

      @include media-breakpoint-up(xl) {
         padding: 0;
      }
   }

   &__body {
      position: relative;
      box-shadow: 0px 0.9rem 1.7rem rgba(0, 0, 0, 0.15);
      background: #FFFFFF;
      border: 0.1rem solid #BEBEBE;
      min-height: 100vh;
      padding: 6.5rem 2.5rem;
      width: 100%;
      max-width: 60rem;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
         border-radius: 1.5rem;
         min-height: unset;
      }

      @include media-breakpoint-up(xl) {
         max-width: 102.2rem;
         padding: 8rem 5.5rem;
      }
   }

   &__container {
      max-width: 40.5rem;
      width: 100%;
      margin: 0 auto;

      @include media-breakpoint-up(xl) {
         max-width: unset;
      }
   }

   &--message {


      .popup {

         // .popup__bg-layer

         &__bg-layer {
            @include perfect-center;
         }

         // .popup__icon

         &__icon {
            @include square(7.5rem);
            @include perfect-center;
         }

         // .popup__text

         &__text {
            font-family: Roboto;
            font-size: 1.8rem;
            margin-top: 3rem;
            max-width: 27rem;
            text-align: center;
            line-height: 3rem;
         }

         &__body {
            height: 30rem;
            max-width: 40rem;
            width: 100%;
            padding: 2rem;
            border-radius: 2rem;
            box-shadow: 0px 0.4rem 1.7rem 0.6rem rgba(154, 154, 154, 0.25);
            background: white;
            @include perfect-center;
            flex-direction: column;
            position: relative;
            z-index: 2;
         }
      }
   }

}

.popup {

   // .popup__close-btn

   &__close-btn {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
   }

   // .popup__row

   &__row {
      @include media-breakpoint-up(xl) {
         display: flex;
         align-items: stretch;
         justify-content: center;
      }
   }

   // .popup__col

   &__col {
      margin-bottom: 7.5rem;

      &:first-child {
         @include media-breakpoint-up(xl) {
            padding-right: 5.5rem;
         }
      }

      &:last-child {
         margin-bottom: 0;
      }

      @include media-breakpoint-up(xl) {
         max-width: 40.5rem;
         height: 100%;
         margin-top: auto;
         margin-bottom: auto;
      }
   }

   // .popup__vr-line

   &__vr-line {
      @include media-breakpoint-up(xl) {
         width: 0.1rem;
         background: #BEBEBE;
         margin-right: 6.5rem;
      }
   }

   // .popup__title

   &__title {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 600;
      font-size: 3.6rem;
      line-height: 138.18%;

      text-align: center;
      letter-spacing: 0.07rem;
      margin-bottom: 3rem;
   }

   // .popup__text

   &__text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 157.68%;
      /* or 25px */

      text-align: center;
      margin-bottom: 5rem;
   }

   // .popup__select

   &__select {
      width: 100%;
      max-width: 29rem;
      margin-left: auto;
      margin-right: auto;

      .field {
         &__label {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 152.18%;
            /* or 24px */

            letter-spacing: 0.07rem;
            flex: 0;
            margin-right: 3.5rem;
            white-space: nowrap;
         }

         &__select {
            max-width: 18rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 152.18%;

            letter-spacing: 0.07rem;
            padding: 0.7rem 2.2rem 0.7rem 1.8rem;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
         }
      }
   }

   // .popup__form

   &__form {}

   // .popup__input

   &__input {
      padding: 2.5rem 3rem;
      background: #FFFFFF;
      border: 0.1rem solid #BEBEBE;
      border-radius: 0.9rem;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 152.18%;

      letter-spacing: 0.07rem;
      margin-bottom: 4rem;
      width: 100%;
   }

   // .popup__submit

   &__submit {
      padding: 2.5rem 3rem;
      text-align: center;
      border: none;
      font-size: 2rem;
   }
}