.section {
   padding-top: 5rem;
   padding-bottom: 5rem;

   @include media-breakpoint-up(lg) {
      padding-top: 6.5em;
      padding-bottom: 6.5rem;
   }

   &__title {
      margin-bottom: 5rem;

      @include media-breakpoint-up(lg) {
         margin: 0 0 7.5rem;
      }
   }

   &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .section__title{
         margin-bottom: 0;
      }

      margin-bottom: 5rem;
      @include media-breakpoint-up(lg) {
         margin: 0 0 7.5rem;
      }
   }

   &__text-block{
      
   }
}