.collection {
   display: flex;
   flex-wrap: wrap;
   $gap: 1rem;
   @include media-breakpoint-up(md){
      $gap: 2rem;
   }
   // margin: 3rem 0;

   // .collection__item

   &__item {
      flex: 1 1 calc(50% - #{$gap});
      padding: 2rem $gap;

      @include media-breakpoint-up(md) {
         flex-basis: calc(33.3% - #{$gap});
      }
      @include media-breakpoint-up(lg){
         flex-basis: calc(25% - #{$gap});
         max-width: 300px;
      }
   }

   &:after{
      content: '';
      flex-grow: 10;
   }

   // .collection__item-photo

   &__item-photo {
      text-align: center;

      img {
         width: 100%;
      }
   }

   // .collection__item-name

   &__item-name {
      font-size: 1.7rem;
      margin: 2rem 0 1rem;
   }

   // .collection__item-descr

   &__item-descr {
      font-size: 1.4rem;
      font-weight: normal;
      color: #c3c0c0;
   }
}