.zoomed {
   @include layer;
   position: fixed;
   z-index: 3000;
   overflow-y: auto;
   max-height: 100vh;

   // .zoomed__inner

   &__inner {
      position: relative;
      z-index: 5;
      transform: translate3d(0, 0, 0);
   }

   // .zoomed__hd

   &__hd {
      display: flex;
      justify-content: center;
      padding: 2rem 0;

      @include media-breakpoint-up(md) {
         padding: 4rem 0;
      }
   }

   // .zoomed__action-icon

   &__action-icon {
      color: white;
      font-size: 6rem;
      cursor: pointer;
   }

   // .zoomed__action-icon--close

   &__action-icon--close {}

   // .zoomed__bd

   &__bd {
      display: flex;
      justify-content: center;
      padding-bottom: 10rem;
   }

   // .zoomed__main-content

   &__main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;

      @include media-breakpoint-up(lg) {
         flex-direction: row;
         align-items: center;
      }
   }

   // .zoomed__main-photo

   &__main-photo {
      width: 86%;
      max-width: 56.5rem;

      img {
         width: 100%;
         border-radius: 0.5rem;
      }
   }

   .multilayer {
      &__main {
         transform: translate(-0.5rem, -0.5rem);
      }

      &:after {
         transform: translate(1rem, 1rem);
      }
   }

   // .zoomed__main-info

   &__main-info {}

   // .zoomed__bg

   &__bg {
      background: rgba(9, 0, 28, 0.88);
      @include layer;
      position: fixed;
      z-index: 1;
   }


   &--gallery-photo {
      .zoomed {
         &__main-photo {
            @include media-breakpoint-up(lg) {
               max-width: 67rem;
            }
         }

         &__main-content {
            @include media-breakpoint-up(lg) {
               padding: 0 8rem;
            }
         }

         &__hd {
            @include media-breakpoint-up(lg) {
               max-width: 145rem;
               margin-left: auto;
               margin-right: auto;
               justify-content: flex-end;
               width: 100%;

               padding: {
                  left: 8rem;
                  right: 8rem;
               }
            }
         }
      }

      .talk-buble {
         width: 95%;
         max-width: 61rem;
         margin-top: 9rem;

         &:after {
            top: -2.7rem;
            left: calc(50% - 5rem);
            border-bottom: 3rem solid #fff!important;
            border-left: 4rem solid transparent!important;
            border-right: 4rem solid transparent!important;

            @include media-breakpoint-up(lg) {
               top: calc(50% - 1.7rem);
               left: -5.3rem;
               transform: rotate(-90deg);
            }
         }

         @include media-breakpoint-up(lg) {
            margin-top: 0;
            margin-left: 10rem;
            max-width: 50rem;
            width: 60%;
         }

         &__title {
            font-size: 2.5rem;
            line-height: 147.69%;

            @include media-breakpoint-up(md) {
               font-size: 2.8rem;
            }
         }

         // .talk-buble__under-title

         &__under-title {
            font-size: 1.4rem;
            line-height: 168.18%;
            margin-top: 0.8rem;

            @include media-breakpoint-up(md) {
               font-size: 1.7rem;
            }
         }

      }

   }

   &--single-photo {

      .zoomed {
         &__main-photo {
            max-width: 80rem;
         }

         &__main-content {
            width: 100%;
            justify-content: center
         }
      }

      .multilayer {
         &__main {
            transform: unset;
         }

         &:after {
            transform: unset;
         }
      }
   }

}