.read-more {
   display: flex;
   align-items: center;

   // .read-more__text

   &__text {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.8rem;
   }

   // .read-more__icon

   &__icon {
      font-size: 1.1rem;
      margin-left: 1.5rem;
      font-weight: bold;
   }
}