#about-us{
   padding-top: 7rem;
   padding-bottom: 7rem;
   background: #FAFAFA;
   display: flex;
   align-items: center;
   @include media-breakpoint-up(lg){
      padding-top: 10rem;
      padding-bottom: 10rem;
      min-height: 100vh;
      @media (orientation: portrait){
         min-height: unset;
      }
   }
   .section {

      // .section__pretitle
   
      &__pretitle {
         font-family: Gilroy;
         font-style: normal;
         font-weight: 600;
         font-size: 26px;
         line-height: 31px;
         /* identical to box height */
         
         letter-spacing: 0.03em;
         
         color: #000000;
      }
   
      // .section__title
   
      &__title {
         margin: 1.5rem 0 3.5rem;
         @include media-breakpoint-up(lg){
            margin: 2.5rem 0 3.5rem;
         }
      }
   
      // .section__text
   
      &__text {
         margin-bottom: 4.8rem;
      }
   }

   .about-us {

      // .about-us__photo
   
      &__photo {
         // display: flex;
         // justify-content: flex-start;
         
         @include media-breakpoint-down(lg) {
            margin-bottom: 6rem;
            // justify-content: center;
         }
         @include media-breakpoint-down(md) {
            margin-bottom: 5rem;
         }
         img{
            @include media-breakpoint-down(lg) {
               margin-left: auto;
               margin-right: auto;
            }
            width: 97%;
            border-radius: 0.9rem;
            @include media-breakpoint-down(lg) {
               width: 100%;
            }
            // border: 0.5rem solid rgba(32, 74, 225, 0.73);
         }
      }

      &__text-col{
         padding: 0 5rem;
         @include media-breakpoint-down(xl){
            padding: 0 1.4rem;
         }
      }
   }
}