.loader {
   @include layer;
   position: fixed;
   @include perfect-center;
   z-index: 1600;
   display: none;

   // .loader__bg

   &__bg {
      @include layer;
      background: #286DD6;
   }

   // .loader__content

   &__content {
   }

   // .loader__spinner

   &__spinner {
   }

   &.is-hidden{
      display: none;
   }
}
.spinner {
}
.loadingio-spinner-rolling-c55z9beacq {
}
.ldio-tam1aegang {
}
