#certificates {
   background: #4872DD;
   padding-top: 14.3rem;
   min-height: 100vh;
   @include media-breakpoint-up(md){
      padding-top: 16.3rem;
      display: flex;
      align-items: center;
   }
   @include media-breakpoint-up(lg){
      padding: 0;
   }

   .certificates {

      // .certificates__cert-group

      &__cert-group {
         display: flex;
         align-items: center;
         justify-content: space-between;
         position: relative;
         width: 95%;
         max-width: 52.5rem;
         margin: 0 auto;
         @include media-breakpoint-up(md){
            width: 100%;
         }
         @include media-breakpoint-up(lg){
            max-width: 68rem;
            margin: 0;
            width: 80%;
         }
      }

      // .certificates__cert-group-item

      &__cert-group-item {
         z-index: 1;
         width: 40%;
         box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
         @include media-breakpoint-up(lg){
            width: 37%;
            max-width: 21.3rem;
         }

         img {
            width: 100%;
         }
      }

      // .certificates__cert-group-item--main

      &__cert-group-item--main {
         width: 62%;
         @include media-breakpoint-up(lg){
            width: 63%;
            max-width: 36rem;
         }
      }

      &__cert-group-layer {
         width: 100%;
         display: flex;
         justify-content: center;
         z-index: 2;
         position: absolute;
      }

      // .certificates__info

      &__info{
         margin: 0 auto;
         width: max-content;
         margin-top: 10.5rem;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         max-width: 100%;
         @include media-breakpoint-up(md){
            margin-top: 16.5rem;
         }
         @include media-breakpoint-up(lg){
            height: 100%;
            margin-top: 0;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
         }
      }

      // .certificates__title

      &__title {
         font-family: Gilroy;
         font-style: normal;
         font-weight: 900;
         font-size: 2.8rem;
         line-height: 3.7rem;
         letter-spacing: 0.03em;

         color: #FFFFFF;
         max-width: 28rem;
         margin-bottom: 4.5rem;

         @include media-breakpoint-up(md) {
            font-size: 3.5rem;
            line-height: 4.7rem;
            max-width: 84%;
            margin-bottom: 5.5rem;
         }
         @include media-breakpoint-up(lg){
            margin-bottom: 4.5rem;
            max-width: 100%;
         }
      }

      // .certificates__my-btn

      &__my-btn {

         font-family: Gilroy;
         font-style: normal;
         font-weight: 900;
         font-size: 2.1rem;
         line-height: 2.6rem;
         text-align: center;
         letter-spacing: 0.03em;
         cursor: pointer;

         color: #FFFFFF;
         padding: 2.5rem 6rem;
         width: max-content;
         background: #F09815;
         border-radius: 0.9rem;
         transition: 0.4s;

         @include media-breakpoint-up(md) {
            font-size: 2.3rem;
            line-height: 3rem;
            padding: 3rem 8.5rem;
         }
      }
   }
}