.why-we {

   .section__title {
      margin-bottom: 10rem;
      max-width: 37rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-up(md) {
         max-width: 50rem;
         margin-bottom: 9rem;
      }

      @include media-breakpoint-up(xl) {
         margin-bottom: 12rem;
         max-width: 57rem;
      }
   }

   // .why-we__cards

   &__cards {}

   // .why-we__card

   &__card {
      $mb: 6rem;
      $border-color: rgba(249, 79, 79, 1);
      margin-bottom: $mb;
      max-width: 31.2rem;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid $border-color;

      @include media-breakpoint-up(md) {
         $mb: 9rem;
         height: calc(100% - #{$mb});
         margin-bottom: $mb;
         max-width: 29.5rem;
         width: 86%;
      }
      @include media-breakpoint-up(lg){
         height: max-content;
      }
      @include media-breakpoint-up(xl){
         height: calc(100% - #{$mb});
      }


      .card {

         // .card__img

         &__img {
            width: 6.2rem;
            margin-left: 2.1rem;
            margin-bottom: 3.5rem;
         }

         // .card__title

         &__title {
            font-family: Gilroy;
            font-weight: bold;
            font-size: 1.9rem;
            line-height: 2.7rem;
            margin-bottom: 1.5rem;

            color: #333046;
         }

         // .card__text

         &__text {
            font-family: Roboto;
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 173.68%;

            color: #000000;
         }

         // .card__top-icon

         &__top-icon {
            $elem-width: 6rem;
            $border-width: 0.1rem;
            $border-radius: 100%;
            $icon-top: $elem-width * 0.5 * -1;

            position: absolute;
            top: $icon-top;
            left: 0;
            display: flex;
            justify-content: center;
            width: 100%;

            @include media-breakpoint-up(md) {
               $elem-width: 7rem;
            }

            @include colorfull-border($elem-width, $border-width, $border-radius, 2);

            .colorfull-border {
               @include square($elem-width);
               border: 1px solid $border-color;
               background: white;
               border-radius: 100%;
               @include perfect-center;

               &__content {
                  img {
                     @include media-breakpoint-up(md) {
                        width: 2.3rem;
                     }
                  }
               }
            }
         }
      }
   }


   // .why-we__special-card

   &__special-card {
      border: 1px solid $border-color!important;
      width: 100%!important;
      &>.card__title {
         margin-bottom: 2.5rem !important;
         max-width: 42.8rem;

         @include media-breakpoint-up(md) {
            max-width: 42.5rem;
            margin-bottom: 2.5rem !important;
         }

         @include media-breakpoint-up(lg) {
            max-width: 49.3rem;
            margin-bottom: 7.5rem !important;
         }
      }

      .card {
         background: #CCD8FF;
         margin: 2rem -1.2rem;
         max-width: 38rem;

         @include media-breakpoint-up(md) {
            width: 90%;
            margin: 3rem auto;
         }

         @include media-breakpoint-up(lg) {
            margin: 0 auto;
            max-width: 41.5rem;
            padding: 4.5rem 3.3rem;
         }

         // .card__img

         &__img {}

         // .card__title

         &__title {
            color: #333046;
            margin-bottom: 1.5rem;
            text-align: center;
         }

         // .card__text

         &__text {
            text-align: center;
         }
      }

   }


}