.logo {
   display: flex;

   // .logo__aside

   &__aside {
   }

   // .logo__image

   &__image {
   }

   // .logo__main

   &__main {
   }

   // .logo__upper-title

   &__upper-title {
      display: none;
   }

   // .logo__title

   &__title {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 900;
      font-size: 2.7rem;
      line-height: 3.4rem;
      text-align: center;
      text-transform: uppercase;
      width: max-content;
      @include media-breakpoint-up(lg){
         text-align: left;
      }
   }

   // .logo__under-title

   &__under-title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.4rem;
      text-align: center;
      @include media-breakpoint-up(lg){
         text-align: left;
      }
   }
}
