.slider {

   // .slider__header

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .section__more-btn {
         display: none;

         @include media-breakpoint-up(lg) {
            display: flex;
         }
      }
   }

   // .slider__filters

   &__filters {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      align-items: center;
      max-width: 100vw;
   }

   // .slider__filter

   &__filter {
      font-family: Gilroy;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.1rem;
      margin: 0 3rem 0 0;
      cursor: pointer;
      max-width: 23rem;
      &:last-child {
         margin-right: 0;
      }

      &.is-active {
         display: block;
         padding: 0.5rem 2.5rem;
         @include border(0.1rem);
         font-weight: 600;
         color: $red;
      }
   }

   // .slider__body

   &__body {}

   // .slider__footer

   &__footer {}

   // .slider__preview-slider

   &__preview-slider {
      margin-top: 3rem;
      padding-left: $container-padding-x;

      @include media-breakpoint-up(md) {
         margin-top: 4rem;
      }
   }

   // .slider__controlls

   &__controlls {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: max-content;
      margin: 0 auto;
      // @include media-breakpoint-up(lg){
      //    margin: 0;
      // }
   }

   // .slider__slide-nums

   &__slide-nums {
      margin-bottom: 0.4rem;
   }

   // .slider__slide-arrows

   &__slide-arrows {
      display: flex;
      cursor: pointer;
   }

   // .slider__slide-arrow

   &__slide-arrow {
      &:first-child {
         margin-right: 3rem;
         // position: relative;
         // top: 8px;
         padding-top: 0.8rem;
         padding: 1.1rem 0 0.3rem;
      }

      &:last-child {
         padding: 0.3rem;
      }

      path {
         stroke: #818181;
         transition: 0.2s;
      }

      &:hover {
         path {
            stroke: black;
         }
      }
   }

   // .slider__slide-arrow--prev

   &__slide-arrow--prev {}

   // .slider__slide-arrow--next

   &__slide-arrow--next {}

   .swiper-container {
      padding-top: 2rem;
      padding-bottom: 2rem;
   }

   .swiper-slide {
      width: 100vw;
   }

}


.swiper-container {}

.main-slider {}

.swiper-wrapper {}

.swiper-slide {}


.preview-slider {
   margin-top: 2.5rem;

   @include media-breakpoint-up(md) {
      margin-top: 1.6rem;
   }

   &__photo {
      width: 19.5rem;
      height: 25.5rem;
   }

   .swiper-slide {
      width: max-content;
      padding-right: 3rem;

      @include media-breakpoint-up(md) {
         padding: 0;
         display: flex;
         justify-content: center;
      }

      @include media-breakpoint-up(lg) {
         justify-content: flex-start;
      }
   }
}