.slider {
   position: relative;
   @include media-breakpoint-up(lg) {
      width: 75%;
      margin: 0 auto;
      max-width: 93rem;
   }

   // .slider__slide

   &__slide {
      @include media-breakpoint-up(lg) {
         display: flex;
         gap: 1.5rem;
      }
   }

   // .slider__controlls

   &__controlls {
      position: absolute;
      width: 125%;
      justify-content: space-between;
      top: calc(50% - 3.3rem);
      left: -12.5%;
      display: none;
      @include media-breakpoint-up(lg) {
         display: flex;
      }
   }

   // .slider__arrow-left

   &__arrow-left {
      cursor: pointer;
   }

   // .slider__arrow-right

   &__arrow-right {
      cursor: pointer;
   }

}